<SCRIPT LANGUAGE="JavaScript">
	function gnome_bug_version(version) {
      var bugzilla=document.forms[0];
		var kw = bugzilla.keywords;
		
		kw.value = kw.value.replace(/ GNOMEVER([0-9]\.[0-9]) /,"");
		
		if (version != '0') {
			kw.value = kw.value + " GNOMEVER" + version + " ";
		}
	}
	
</SCRIPT>

<FORM METHOD=POST ACTION="post_bug.cgi" NAME="bugzilla">
<INPUT TYPE=HIDDEN NAME=reporter VALUE="[+ $::COOKIE{'Bugzilla_login'} +]">
<INPUT TYPE=HIDDEN NAME=product VALUE="[+ $product +]">
<TABLE CELLSPACING=2 CELLPADDING=0 WIDTH=800 ALIGN=center>
  <TR>
	<TD COLSPAN=4>[+ $entryheaderhtml +]<BR><HR></TD>
  </TR><TR>
    <TD ALIGN=right valign=top><B>Reporter:</B></TD>
    <TD VALIGN=top>[+ $::COOKIE{'Bugzilla_login'} +]</TD>
    <TD ALIGN=right valign=top><B>Product:</B></TD>
    <TD VALIGN=top>[+ $product +]</TD>
  </TR>
  <TR>
    <TD VALIGN=center ALIGN=right>

<!-- start version selection -->
[+ $version_element +]
<!-- end version selection -->

	</TD>
	<TD VALIGN=center ALIGN=right>

<!-- start component selection -->
[+ $component_popup +]
<!-- end component selection -->

	</TD>
  </TR>
  <TR>
    <TD ALIGN=right>

<!-- start severity selection -->
[+ $severity_popup +]
<!-- end severity selection -->

	</TD>

    <TD ALIGN=right>

<!-- start initialstate selection -->
[+ $initialstate_popup +]
<!-- end initialstate selection -->

	</TD>
<!-- This needs to be here to get the correct hidden field, even
     though we don't allow choosing priority here  -->
	<TD ALIGN=right>

<!-- start priority selection -->
[+ $priority_popup +]
<!-- end priority selection -->
	
	</TD>
  </TR><TR>
    <TD ALIGN=right>

<!-- start op_sys selection -->
[+ $opsys_popup +]
<!-- end op_sys selection -->

	</TD>
    <TD ALIGN=right>

<!-- start op_sys_details selection -->
[+ $os_details_element +]
<!-- end op_sys_detials  selectoin -->

	</TD>
  </TR>
</TABLE>
<P>
<TABLE WIDTH=800 CELLPADDING=3 CELLSPACING=0 ALIGN=center>
  <TR>
    <TD ALIGN=right>

<!-- start assigned_to selection -->
[+ $assign_element +]
<!-- end assigned_to selection -->
   
	 <BR>(Leave blank to assign to default component owner)</TD>
   </TR>
  <TR>
    <TD ALIGN=right>

<!-- start cc selection -->
[+ $cc_element +]
<!-- end cc selection -->

	</TD>
  </TR>
  <TR>
    <TD ALIGN=right>
  
<!-- start url selection -->
[+ $keyword_element +]
<!-- end url selection -->

	</TD>
  </TR>

  <TR><TD ALIGN=right><B>GNOME Version</B></TD>
  <TD>
  Which version of gnome are you seeing this bug in?<br>
  <INPUT TYPE="radio" NAME="gnome_version" value="2.5" onclick="javascript: gnome_bug_version('2.5');">GNOME 2.5.x (Latest Development Series)<br>
  <INPUT TYPE="radio" NAME="gnome_version" value="2.4" onclick="javascript: gnome_bug_version('2.4');"><b>GNOME 2.4.x (Latest Stable Series)</b><br>
  <INPUT TYPE="radio" NAME="gnome_version" value="2.2" onclick="javascript: gnome_bug_version('2.2');">GNOME 2.2.x (Previous Stable Series)<br>
  <INPUT TYPE="radio" NAME="gnome_version" value="0.0" onclick="javascript: gnome_bug_version('0');">Other<br>
  </TD>
  </TR>

  <TR>
    <TD ALIGN=RIGHT>
 
<!-- start summary selection -->
[+ $summary_element +]
<!-- end summary selection -->
 
	</TD>
  </TR>
  <TR><TD ALIGN=right VALIGN=top><B>Description:</B></TD>
    <TD><TEXTAREA WRAP=HARD NAME=comment ROWS=15 COLS=75>[+ $comment +]</TEXTAREA></TD>
  </TR>

</TABLE>
<P>

<TABLE WIDTH=800 ALIGN=center CELLPADDING=3 CELLSPACING=0>
<TR>
</TR><TR>
	<TD ALIGN=left>

<!-- start group selection -->
[+ $group_select +]
<!-- end group selection -->

	</TD>
</TR><TR>
	<TD ALIGN=left>
	<INPUT TYPE="submit" VALUE="Submit Bug Report">
	<INPUT TYPE="reset" VALUE="Reset">
	<INPUT TYPE="submit" NAME=maketemplate VALUE="Remember values as bookmarkable template">
	</TD>
</TR><TR>
	<TD ALIGN=center>	
	<HR>
	[+ $browserinfo +]
	<INPUT TYPE=hidden name=form_name VALUE=enter_bug>
	</TD>
</TR>
</TABLE>

</FORM>

